@import url('https://fonts.googleapis.com/css?family=Signika');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p, a, h3, h2, h1, input, span, textarea {
    font-family: 'Signika', sans-serif;
    font-size: 18px;

    &:active, &:hover, &:focus, &:invalid{
        outline: none;
        box-shadow: none;
    }
}

body, .adminBase{
    width: 100%;
    min-height: 100vh;
}