footer {
    width: 100%;
    text-align: center;
    padding: 3em 0 2em;
    
    i, span {
    font-size: 0.8em;
    }
    nav {
        padding-bottom: 1em;
        a {
            padding: 0.5em;
        }
    }
}